#player, #player a {
	color: #5cd700;
}

#player {
	background: url(sizerAndVol.png);
	background-position: bottom;
}

#player .mainImage {
	background: url(main.png);
}

#player #baseLeft {
	width: 93px;
}

#player #baseRight {
	width: 145px;
}

#player .button {
	width: 26px;
}

#player #play {
	background: url(playBtn.png);
}

#player #play, #player #pause {
	left: 26px;
}

#player #previous {
	left: 0px;
}

#player #next {
	left: 52px;
}

#player #title {
	left: 90px;
}

#player #tooltip {
	right: 196px;
}

#player #timer {
	right: 120px;
}

#player #list {
	right: 0px;
}

#player #seeker {
	right: 320px;
}

#player #seekerBase {
	border-color: #f2ffe5;
}

#player #seekerBuffered {
	background-color: #f2ffe5;
}

#player #seekerSliderBase {
	background-color: #5cd700;
}

#player #volume {
	width: 65px;
	right: 39px;
}

#player #volumeSlider {
	width: 8px;
	background: url(sizerAndVol.png);
}

#playlist, #playlist .module, #playlist h3 {
	border-color: #5cd700;
	color: #5cd700;
}

#playlist h3 {
	background-color: #fff;
}

#playlist .even {
	background-color: #FFF;
}

#playlist .odd {
	background-color: #f2ffe5;
}

#playlist .focus {
	background-color: #5cd700;
	color: #FFF;
}