/* *********** EVENT VIEW *********** */
table.cqevent {
    border-collapse: collapse;
}

table.cqevent td.date {
    font-size: 11px;
    letter-spacing: -0.8px;
}

table.cqevent td {
    border: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
}

table.cqevent tr.unread {
    color: white;
}

table.cqevent tr.unread td:first-child {
    border-left: 2px solid orange;
}

table.cqevent tr.odd td {
    background-color: #3b302b;
}
table.cqevent tr.even td {
    background-color: #4b3b35;
}

table.cqevent tr.dayOne td.date{
    border-right: 1px solid grey;
}
table.cqevent tr.dayTwo td.date {
    border-right: 1px solid white;
}


/********* SEARCH FORM *******/
#searchIcon {
    display: inline-block;
    padding: 2px;
    height: 16px;
    text-align: center;
    margin-right: 15px;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

#searchIcon img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    vertical-align: middle;
}


#searchIcon.active, #searchIcon.alwaysactive {
    background-color: #55433c;
    position: relative;
    top: -4px;
    opacity: 1;
    padding-top: 10px;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    height: 19px;
    vertical-align: middle;
}

table.header {
    border-top: 1px solid grey;
}

#searchIcon:hover {
    opacity: 1;
}


#search {
    color: white;
    background-color: #55433c;
    height: 135px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    overflow: hidden;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

#search.hidden {
    height: 0px;
}

#search .left, #search .right {
    width: 50%;
    float: left;
}

#search .left {
    text-align: right;
    width: 47%;
    padding-right: 3%;
}

#search input[type=text] {
    height: 26px;
}

#search input[type=text], #search input[type=submit] {
    width: 130px;
}

#search input[type=submit] {

    height: 36px;
    color: black;
    font-variant: small-caps;
}

#search input[type=submit], #target {
    margin-right: 18px;
}

#search label {
    display: inline-block;
    width: 150px;
    margin-right: 15px;
}

#search .select-types label {
    display: block;
    text-align: center;
    width: 140px;
}

#search .select-types label .small {
    font-size: 10px;
    color: #eee;
}

#search select {
    width: 175px;
}

#search select, #search .select-types label {
    height: 130px;
    float: left;
}

#search input[type=submit] {
    font-weight: bold;
}

#clear_date_from, #clear_date_from img,  #clear_date_to, #clear_date_to img {
    width: 18px;
    height: 18px;
}

#clear_date_from, #clear_date_to {
    vertical-align: middle;
    display: inline-block;
    opacity: 0.7;
    position: relative;
    left: -30px;
}

#clear_date_from:hover, #clear_date_to:hover {
    opacity: 0.9;
}

#cancelSearch {
    color: orangered;
    margin-right: 10px;
    font-size : 11px;
    display: inline-block;
    width: 70px;
    vertical-align: middle;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}