html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
	tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
	legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	outline-style: none;
	font-size: 100%;
	font-size: 100%;
	background: transparent;
	background-image: none;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
	list-style-position: outside;
	list-style-type: none;
	list-style-image: none;
}

blockquote, q {
	quotes: none;
}

:focus {
	outline-width: 0px;
	outline-style: none;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
}